/* Box Sizing */
* { box-sizing: border-box; }

/* Clearfix */

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* Standards */

body{
	padding:0;
	margin:0;
	font-family: Helvetica, Sans-serif;
	background: #EAEBED;
}

a{
	transition:333ms all ease-in-out;
}

a:hover{
	color:#01A7C2;
	text-decoration: none;
}

h1 {

}

h3 {

}

/* Columns & Rows */
.row{
	width:90%;
	max-width: 800px;
	margin:0 auto 20px;
}

.column{
	float:left;
	margin-right:2%;
}

.column.two-third{
	width:65%;
}

.column.one-half{
	width:49%;
}

.column.one-third{
	width: 32%;
}

/* -- Fourth Column
.column.one-fourth{
	width: 
}
--*/

.column:last-of-type{
	margin-right: 0;
}

/* -- Header --*/

header{
	background: #006989;
	padding:10px;
	margin-bottom: 20px;
}

body#home header{
	margin-bottom: 0;
}

.logo {
	float:left;
	width:65px;
}

nav {
	margin-top: 21px;
}

header nav{
	float:right;
	text-align: right;
}

nav a{
	margin-right:20px;
	font-size:13px;
	color:#A3BAC3;
	text-decoration:none;
}

nav a:last-of-type{
	margin:0;
}

/*-- Footer --*/

footer{
	background:#006989;
	margin-top:60px;
	padding:5px 0;
	font-size:11px;
	text-align:center;
	width: 100%;
}

/*-- Hero --*/
.hero{
	background: #006989;
	background-image: url('img/drips.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.hero h1{
	margin:0;
	padding:450px 0;
	color:white;
	text-shadow:0 0 10px #A3BAC3;
	text-align: center;
}

/*-- Responsive --*/
@media (max-width: 500px){

header{
		text-align: center;
	}

.logo{
	float:none;
	width:80px;
}

header nav{
	float:none;
	text-align: center;
}

.column{
	width:100% !important;
	margin-right: 0;
}

}