// Columns & Row
.row {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 20px;
  @include clearfix; // Using the clearfix mixin
}

.column {
  float: left;
  margin-right: 2%;

  &.two-third { width: 65%; }

  &.one-half { width: 49%; }

  &.one-third { width: 32% }

  &:last-of-type {
    margin-right: 0;
  }

  @media (max-width: $tablet) {
    width: 100% !important;
    margin-right: 0;
  }
}
